.ex{
    margin-top: 100px;
    max-width: 400px;
    max-height:800px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.columns{
    flex-direction: column;
    flex-wrap: wrap;

}

.sub{
    display: flex;
    flex-direction: column;
}